<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="description" content="june01的文章">
    <meta name="author" content="june01">
    <title>june01的文章</title>
    <link rel="stylesheet" type="text/css" href="../common/reset.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
    <h1 class="title">june01的文章</h1>
    <ul class="list">
    {list articles as article}
        <li class="item" style="background-color: ${article.color};">
            <a href="${article.url}" target="_blank">${article.title}</a>
        </li>
    {/list}  
    </ul>
</body>
</html>